@import url("https://fonts.googleapis.com/css?family=Lato:300,400,400i,700i|Ubuntu&subset=latin-ext");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #5a5a5a; }

.row::before,
.row::after {
  content: "";
  display: table;
  clear: both; }

[class*='col-'] {
  float: left;
  min-height: 1px;
  padding: 5px; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

.big-container {
  max-width: 2000px;
  margin: 0 auto; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25px; }

a {
  text-decoration: none;
  color: inherit; }

p {
  line-height: 2;
  font-weight: 300; }

.divider {
  height: 2px;
  background-color: #ed145b;
  line-height: 2px;
  max-width: 200px;
  margin: 30px auto; }

.btn {
  color: #fff;
  background-color: #ed145b;
  border: 2px solid transparent;
  padding: 10px 30px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin: 20px 0; }
  .btn:hover {
    color: #ed145b;
    background-color: #fff;
    border-color: #ed145b; }

.absolute {
  position: absolute; }

.hamburger {
  display: none; }

h2 {
  font-weight: 400;
  font-style: italic;
  font-size: 38px; }

.label {
  color: #ed145b;
  text-transform: uppercase;
  font-weight: bold; }
  .label button {
    color: inherit;
    border: 0;
    background-color: inherit;
    cursor: pointer;
    font-size: 25px;
    display: inline-block;
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
    .label button:hover {
      -webkit-transform: scale(1.3) translateY(3px);
      transform: scale(1.3) translateY(3px); }

.relative {
  position: relative; }

/*
HEADER
*/
header {
  height: 100vh;
  min-height: 500px;
  max-height: 1200px;
  background: #000 url(../img/back.jpg) no-repeat center 0/cover;
  overflow: hidden;
  color: #fff;
  position: relative; }
  header nav {
    margin-top: 40px; }
    header nav .nav-logo {
      display: inline-block; }
  header .slogan {
    text-align: center;
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    header .slogan h1 {
      padding: 0 10px;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 42px; }
      header .slogan h1 span {
        font-weight: 900; }
    header .slogan p {
      margin: 15px auto;
      width: 90%;
      font-size: 20px; }
    header .slogan button {
      margin-top: 40px; }

.nav-top {
  padding: 0;
  margin: 0;
  float: right; }
  .nav-top li {
    list-style-type: none;
    float: left; }
    .nav-top li a {
      padding: 5px 15px;
      font-weight: 700;
      -webkit-transition: color 0.2s;
      transition: color 0.2s; }
      .nav-top li a:hover {
        color: #ed145b; }

/*
ABOUT
*/
.about {
  background-color: #f4f4f4; }
  .about .separator {
    position: relative;
    overflow: hidden;
    padding-bottom: 50px; }
    .about .separator::before {
      content: "";
      position: absolute;
      background-color: #ed145b;
      width: 100%;
      height: 100%;
      bottom: 100%;
      -webkit-transform: rotate(-1deg);
      transform: rotate(-1deg);
      -webkit-transform-origin: 100% 100%;
      transform-origin: 100% 100%; }
  .about .row {
    margin-top: 40px; }
  .about .divider {
    margin: 30px 0; }
  .about h2 {
    width: 85%; }
  .about p {
    width: 90%; }
  .about .label {
    margin: 40px 0 70px; }
  .about .big-photo-top {
    position: absolute;
    max-width: 1024px;
    width: 50vw;
    -webkit-transform: translate(-60px, 20px);
    transform: translate(-60px, 20px); }

.services {
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center; }
  .services p {
    color: #ed145b;
    margin: 30px auto 80px;
    width: 70%;
    font-weight: 400; }
  .services .info {
    text-transform: uppercase; }
  .services .img-wrap {
    border: 2px solid #d4d4d4;
    padding: 30px;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin: 0 auto;
    cursor: pointer;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
    .services .img-wrap:hover {
      -webkit-transform: scale(1.1);
      transform: scale(1.1); }

.carousel {
  min-height: 200px;
  background: #000 url(../img/back.jpg) no-repeat center 0/cover; }
  .carousel .container {
    overflow: hidden;
    padding: 0; }
  .carousel .carousel-wrapper {
    width: 400%; }
    .carousel .carousel-wrapper ul {
      padding: 0;
      margin: 0; }
      .carousel .carousel-wrapper ul li {
        list-style-type: none;
        width: 25%;
        float: left; }
  .carousel p {
    padding: 150px 30px;
    color: #fff;
    font-size: 25px;
    width: 90%;
    font-style: italic;
    text-align: center;
    margin: 0 auto;
    position: relative; }
    .carousel p::before, .carousel p::after {
      font-family: serif;
      position: absolute;
      color: #ed145b;
      font-size: 120px;
      left: 0;
      right: 0; }
    .carousel p::before {
      content: '\201C';
      top: -40px; }
    .carousel p::after {
      content: '\201D';
      bottom: -100px; }

.prices {
  text-align: center;
  background-color: #f4f4f4;
  padding: 80px 0; }
  .prices .container > p {
    width: 80%;
    margin: 20px auto 80px; }

.box {
  max-width: 260px;
  margin: 0 auto; }
  .box:hover .box-head {
    background-color: #ed145b; }
  .box .box-head {
    background-color: #5a5a5a;
    color: #fff;
    padding: 20px;
    transition: background 0.3s; }
    .box .box-head p {
      font-weight: 700;
      line-height: 1; }
      .box .box-head p span {
        font-size: 300%; }
  .box .box-body {
    background-color: #fff;
    position: relative; }
    .box .box-body button {
      width: 80%; }
      .box .box-body button:first-of-type {
        padding: 10px 30px;
        border-radius: 20px;
        border: 0;
        background-color: #f4f4f4;
        text-transform: uppercase;
        font-weight: 700;
        transform: translateY(-20px);
        cursor: pointer; }
        .box .box-body button:first-of-type:hover {
          background-color: #fff;
          color: dimgray; }
    .box .box-body ul {
      margin: 0;
      padding: 0; }
      .box .box-body ul li {
        list-style-type: none;
        padding: 10px 0; }

.additional-info {
  padding: 80px 0; }
  .additional-info h3 {
    color: #ed145b;
    text-transform: uppercase;
    font-size: 18px; }
  .additional-info img {
    padding: 20px 10px;
    float: right; }

.banner {
  padding: 70px 0;
  background-color: #ed145b; }
  .banner h2 {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    font-style: normal; }
    .banner h2 span {
      font-weight: bolder; }
  .banner button {
    margin: 0;
    background-color: #fff;
    color: #ed145b; }
    .banner button:hover {
      background-color: #ed145b;
      color: #fff;
      border-color: #fff; }

.news h2 {
  text-align: center; }

@media (max-width: 992px) {
  .col-m-1 {
    width: 8.33%; }

  .col-m-2 {
    width: 16.66%; }

  .col-m-3 {
    width: 25%; }

  .col-m-4 {
    width: 33.33%; }

  .col-m-5 {
    width: 41.66%; }

  .col-m-6 {
    width: 50%; }

  .col-m-7 {
    width: 58.33%; }

  .col-m-8 {
    width: 66.66%; }

  .col-m-9 {
    width: 75%; }

  .col-m-10 {
    width: 83.33%; }

  .col-m-11 {
    width: 91.66%; }

  .col-m-12 {
    width: 100%; }

  .about {
    text-align: center; }
    .about .separator {
      text-align: left; }
    .about .divider {
      margin: 30px auto; }
    .about .big-photo-top {
      position: static;
      width: 100%;
      -webkit-transform: none;
      transform: none; }
    .about h2, .about p {
      width: 100%; }
    .about .label {
      margin-bottom: 20px; }

  .info {
    margin-top: 10px !important;
    margin-bottom: 30px !important; }

  .banner {
    text-align: center; } }
@media (max-width: 768px) {
  .col-s-1 {
    width: 8.33%; }

  .col-s-2 {
    width: 16.66%; }

  .col-s-3 {
    width: 25%; }

  .col-s-4 {
    width: 33.33%; }

  .col-s-5 {
    width: 41.66%; }

  .col-s-6 {
    width: 50%; }

  .col-s-7 {
    width: 58.33%; }

  .col-s-8 {
    width: 66.66%; }

  .col-s-9 {
    width: 75%; }

  .col-s-10 {
    width: 83.33%; }

  .col-s-11 {
    width: 91.66%; }

  .col-s-12 {
    width: 100%; }

  p {
    line-height: 1.5; }

  .nav-top {
    float: none;
    clear: both; }
    .nav-top li {
      float: none; }

  header .slogan p {
    font-size: 17px;
    line-height: 1.5; }
  header .slogan .divider {
    margin: 0 auto; }
  header .slogan button {
    margin-top: 10px; }
  header .hamburger {
    display: block;
    float: right;
    color: #ed145b;
    border: 1px solid #ed145b;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
    header .hamburger:hover {
      color: #fff;
      border-color: #fff; }
  header .nav-logo {
    padding-top: 4px; }
  header .nav-top {
    display: none;
    text-align: center;
    background-color: #000;
    z-index: 2000;
    position: relative; }
    header .nav-top a {
      display: block;
      padding: 15px; }

  .about .row {
    margin-top: 0; }

  .services p:first-of-type {
    width: 100%;
    font-weight: 400; } }

/*# sourceMappingURL=style.css.map */
