@media (max-width: 992px) {
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}  
    .about {
        text-align: center;
        .separator {
            text-align: left;
        }
        .divider {
            margin: 30px auto;
        }
        .big-photo-top {
            position: static;
            width: 100%;
            -webkit-transform: none;
            transform: none;
        }
        h2, p {
            width: 100%;
        }
        .label {
            margin-bottom: 20px;
        }
    }
}
@media (max-width: 768px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    p {
        line-height: 1.5;
    }
    .nav-top {
        float: none;
        clear: both;
        li {
            float: none;
        }
    }
    header {
        .slogan {
            h1 {
                //font-size: 30px;
            }
            p {
                font-size: 17px;
                line-height: 1.5;
            }
            .divider {
                margin: 0 auto;
            }
            button {
                margin-top: 10px;
            }
        }
        .hamburger {
            display: block;
            float: right;
            color: $color-pink;
            border: 1px solid $color-pink;
            padding: 5px 10px;
            cursor: pointer;
            border-radius: 5px;
            -webkit-transition: 0.2s;
            transition: 0.2s;
            &:hover {
                color: #fff;
                border-color: #fff;
            }
        }
        .nav-logo {
            padding-top: 4px;
        }
        .nav-top {
            display: none;
            text-align: center;
            background-color: #000;
            z-index: 2000;
            position: relative;
            a {
                display: block;
                padding: 15px;
            }
        }
    }
    .about {
        .row {
            margin-top: 0;
        }
    }
}

