@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700i|Ubuntu&subset=latin-ext');
$color-pink: #ed145b;
$color-white: #fff;
$color-background: #f4f4f4;
$color-font: #5a5a5a;
$font-main: 'Lato', sans-serif;